body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Notas{
  text-align: center;
}

.notas{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;


}

.nota{
  margin-top: 12px;
  border: 1px solid black;
  border-radius: 8px;
}
Header {
  margin: auto;
  font-size: 5vh;
  padding-left: 10vh;
}
.note{
  width: 18rem;
  margin: 1vh;
  align-items: center;
  float: left;
}
.Notas{
  text-align: center;
  margin-top: 10px;
  position: absolute;
}

.botones{
  width: 100%;
}
